<h3>Subcategories</h3>

<p>
	<%= subcategory.name %> | <%= link_to 'Delete subcategory', [subcategory.item, subcategory], method: :delete, data:{ confirm: 'Are you sure?'}, :class => 'btn tiny_button button' %>

</p>

